<div class="row">
  <div class="col-xl-4 p-0">
    <app-page-wrapper [gridClass]="'col-sm-12'" [title]="'categories'">
      <div button>
        @if(type() === 'edit'){
        <button class="btn btn-sm btn-theme" (click)="create(categoryType())">
          <i class="ri-add-line"></i> {{ 'add_category' | translate }}
        </button>
        }
      </div>
      <div class="category-tree-box">
        <app-tree
          [data]="(category$ | async)?.data"
          [recursionKey]="'subcategories'"
          [type]="type()"
          [categoryType]="categoryType()"
        />
      </div>
    </app-page-wrapper>
  </div>
  <div class="col-xl-8 p-0">
    <app-form-category
      [categories]="(category$ | async)?.data"
      [type]="type()"
      [categoryType]="categoryType()"
    />
  </div>
</div>
