.parcel-form-container {
    border-top: 3px solid var(--theme-color);
}

.btn-solid {
    padding: 13px 29px;
    color: #fff;
    letter-spacing: 0.05em;
    border: 2px solid var(--theme-color);
    background-image: linear-gradient(30deg, var(--theme-color) 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background 300ms ease-in-out;

    &:hover {
        background-position: 100%;
        color: var(--theme-color);
    }
}