.flight-search-box, .contact-details-box {
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }
}
.btn-solid {
  padding: 13px 29px;
  color: #fff;
  letter-spacing: 0.05em;
  border: 2px solid var(--theme-color);
  background-image: linear-gradient(30deg, var(--theme-color) 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
  &:hover {
    background-position: 100%;
    color: var(--theme-color);
  }
}
