:host {
  display: block;
  width: 100%;
  line-height: 0;
}

.banner-contain {
  display: block;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.bg-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bg-size {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
