/* You can add global styles to this file, and also import other style files */

@use '../public/assets/scss/app.scss';

@media (max-width: 991px) {
    li:has(app-cart) {
        display: block !important;
        position: static !important;
        width: 0 !important;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: visible !important;
    }

    .cart-toggle-icon {
        display: none !important;
    }
}